

<table>
    <thead>
      <h1>Weapons</h1>
      <tr>
        <th>Name</th>
        <th>Damage</th>
        <th>Attack Speed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let weapon of config.weapons">
        <td><input type="text" [(ngModel)]="weapon.name" class="form-control"></td>
        <td><input type="number" [(ngModel)]="weapon.damage" class="form-control"></td>
        <td><input type="number" [(ngModel)]="weapon.speed" class="form-control"></td>
      </tr>
    </tbody>

    <thead>
      <h2>Enemy</h2>
        <tr>
          <th>Name</th>
          <th>Health</th>
          <th>damage</th>
          <th>speed</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enemy of config.enemies">
          <td><input type="text" [(ngModel)]="enemy.name" class="form-control"></td>
          <td><input type="text" [(ngModel)]="enemy.health" class="form-control"></td>
          <td><input type="text" [(ngModel)]="enemy.damage" class="form-control"></td>
          <td><input type="text" [(ngModel)]="enemy.speed" class="form-control"></td>
        </tr>
      </tbody>


      <thead>
        <h2>Artifact</h2>
        <tr>
          <th>Name</th>
          <th>Power</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let artifact of config.artifacts">
          <td><input type="text" [(ngModel)]="artifact.name" class="form-control"></td>
          <td><input type="text" [(ngModel)]="artifact.power" class="form-control"></td>
        </tr>
      </tbody>
      <button type="submit" (click)="onSave()" class="btn btn-success">Update</button>
  </table> 


 